/* * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */
@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
opacity: 0;
}
* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  }
body {
    background-image: url('./img/BackgroundWhite.png');
}
.documentBackground {
    display: flex;
    justify-content: center;
}

.documentContent{
    background-image: url('./img/BackgroundGreen.png');
    width: 1812px;
    height: 994px;
    left: 108px;
    gap: 0px;
    border-radius: 0px 0px 91px 91px;
    opacity: 0px;
}

.line {
    background-image: url('./img/Line.png');
    width: 1520.3px;
    height: 5px;
    top: 121px;
    left: 195.7px;
    gap: 0px;
    border-radius: 91px 0px 0px 0px;
    opacity: 0px;
    margin: 25px 70px 0 113px;
}
.transparency {
    background-image: url(./img/transparency.png);
    pointer-events: none;
    margin-top: -128px;
    margin-left: 48px;
    width: 1704px;
    height: 265px;
    position: relative;
}
.cancelSearch {
    margin-left: 80px;
    color: red;
    cursor: pointer;
    display: none;
}
.documentTitle {
    display: flex;
    justify-content: space-between;
    margin: 45px 175px 0 113px;
    align-items: center;
}
.text-path span{
    color: #B0C4BF;
    font-size: 35px;
    font-weight: 600;
    line-height: 41.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Nunito", sans-serif;
    margin-right: 25px;
}
.documentTitle h1 {
    font-size: 3vw;
    color: white;
    font-family: Verdana, Tahoma, Times;
    font-weight: 100;
    margin: 0;
    padding: 1.5vw 0;
}
.searc1 {
    background-color:#628D84;
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 28.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 25px;
    color: white;


    width: 557px;
    height: 61px;
    gap: 0px;
    border-radius: 99px;
    border: 5px solid #B0C4BF;
}
.documentTitle input {
    background-color:#628D84;
    font-family: "Nunito", sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 28.15px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 25px;
    color: white;


    width: 557px;
    height: 61px;
    gap: 0px;
    border-radius: 99px;
    border: 5px solid #B0C4BF;

}
.documentTitle input::-webkit-input-placeholder {  
    color: white;
}
.documentContainer{
    /* display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    justify-content: center;
    align-items: center;
    overflow: auto; */
    height: 678px;
    /* max-width: 800px; */
    /* margin: 0 auto; */
}
.documentFon {
    width: 1464px;
    height: 85px;
    top: 166px;
    left: 252px;
    gap: 0px;
    background-image: url(./img/cell.png);
    opacity: 0px;    
    display: flex;
    align-items:center;
    margin-bottom: 10px;
    text-decoration: none;

    font-size: 35px;
    font-weight: 600;
    line-height: 41.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Nunito", sans-serif;
    margin-right: 25px;

    margin-left: 172px;

}
.documentFon img {
    width: 33px;
    height: 33px;
    margin-left: 30px;
}
.documentFon span {
    color:#FFFFFF;
    padding-left: 20px;
}
.footer {
    margin-top: 28px;
    display: flex;
    align-items: center;
}
.rusTat {
    margin-left: 43px;
}
.exit {
    width: 52px;
    height: 52px;
    background-image: url(./img/Button_Back_all_Dark.png);
    margin-left: 27px;
}
.exit:active {
    background-image: url(./img/Button_Back_all_Light.png);
}
.logo {
    margin-left: 1349px;
}
.fon {
    display: none;
    margin: 0;
    padding: 0;
    /* padding-bottom: 292px; */
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    background-color: rgba(24, 43, 38, 0.5);
    width: 100%;
}