*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }

@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('/Fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}


/* SUBSCRIBE ==> https://www.youtube.com/albdev */
/* SUBSCRIBE ==> https://www.youtube.com/albdev */
.container {
    display: none;
    height: 0;
}
.keyboard {
    background-color: #30574D;
    position: relative;
    bottom: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 469px;
    width: 1071px;
    height: 501px;
    font-size: 50px;
    font-weight: 600;
    line-height: 41.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Nunito", sans-serif;
    border-radius: 38px;
    border: solid 5px #F4D3AD;
}
button:active {
    background-color: #f3d2ab;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #618D82;
    color: #fff;
    width: 95px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
    font-weight: 600;
    line-height: 41.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Nunito", sans-serif;
}
.rowStart {
    margin-top: 10px;
}
.rowend {
    margin-bottom: 20px;
}
.row {
    display: flex;
    margin-bottom: 10px;
}
.button .inputKey {
    width: 195; 
    height: 86px;
}
.delete,
.shift,
.space {
    font-size: 1rem;
    text-transform: capitalize;
}
.delete { 
    background-color: #618D82;
    color: #fff;
    width: 95px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
    
}
.shift {  }
.space { 
    background-color: #618D82;
    color: #fff;
    width: 655px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
}
.esc {  
    background-color: #618D82;
    color: #fff;
    width: 95px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
}
.shift {
    background-color: #618D82;
    color: #fff;
    width: 95px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
}
.enter {}
.logoKey {
    background-color: #618D82;
    color: #fff;
    width: 195px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputKey {
    background-color: #618D82;
    color: #fff;
    width: 195px;
    height: 86px;
    border-radius: 18px;
    font-size: 50px;
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid rgb(104, 104, 255);
    border-radius: .5rem;
}


.upper { text-transform: uppercase; }
