* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
    margin: 0;
}
.mainPageBackground {
    background-color:#39645B;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPageContent{
    background-color: #426D64;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    background-color:#FCBB7B;
    width: 100vw;
    height: 0.2vw;
    margin: 0 auto
}
.mainPageContent h1 {
    font-size: 3vw;
    color: white;
    font-family: Verdana, Tahoma, Times;
    font-weight: 100;
    margin: 0;
    padding: 1.5vw 0;
}
.mainPageContent span {
    font-size: 1.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #9CBCB4;
    padding: 1.5vw 0;
}
.lineMini {
    background-color:#FCBB7B;
    width: 42vw;
    height: 0.1vw;
    margin: 0 auto
}
.mainPageContentBtns {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items:center;
    padding: 1.5vw 0;
}
.btn {
    font-size: white;
    width: 17vw;
    height: 4vw;
    background-color: #628D84;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 34px;
    box-shadow: -2px 0px 9px #FCBB7B;
    cursor: pointer;
    text-decoration: none;
}
.btn:active {
    background-color:#426D64;
    transition: 0.1s;
}
.btn span {
    color: white;
}
.linkBtn {
    text-decoration: none;
    padding: 20px 64px;
}